@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

.rtl\:ltr:where([dir="rtl"], [dir="rtl"] *) {
  direction: ltr;
}

a {
  @apply cursor-pointer;
}

button {
  @apply select-none cursor-pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #545454;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #454545;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #393939;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

footer {
  bottom: 0;
  width: 100%;
  margin-top: auto;
}
